<!-- @@master = ../layouts/default.html-->

<!-- @@block = content -->


<!-- @@include ../layouts/_header.html -->
<div id="loading">
    <div class="wheel">
        <div class="ld ld-spin"><img src="assets/images/loadingWheel.svg" alt=""></div>
        <p><strong>Loading...</strong></p>
    </div>
</div>

<div class="wrapper">
    <div class="buttonTop"><img src="assets/images/buttonTop.png" alt=""></div>
    <div id="luckydrawSec">
        <div class="luckydrawContainer">
            <div class="titleWrapper">
                <div class="KHSlogo"><img src="assets/images/section-06/luckydrawLogo.png" alt=""></div>
                <div class="titleWording"><img src="assets/images/section-06/offerTitle.png" class="hidden-phone" alt="">
                    <img src="assets/images/section-06/offerTitle_m.png" class="visible-phone" alt=""></div>
            </div>
            <div class="containFrame">
                <div class="contentWrapper">
                    <div class="luckydrawForm">
                        <h3>請填寫您的正確資料，中獎了才能通知你哦！</h3>
                        <form action="" method="post">
                            <label for="field1"><span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名&nbsp;：</span><input type="text" class="input-field" name="field1" value="" /></label>
                            <label for="field2"><span>手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;機&nbsp;：</span><input type="text" class="input-field" name="field2" value="" /></label>
                            <label for="field3"><span>E&nbsp;-&nbsp;M&nbsp;A&nbsp;I&nbsp;L&nbsp;：</span><input type="text" class="input-field" name="field3" value="" /></label>
                            <label for="field4" class="field4"><span>發&nbsp;票&nbsp;號&nbsp;碼&nbsp;：</span><input type="text" class="input-field" name="field4" value="" /></label>
                            <label for="field5" class="field5"><span>發票隨機碼&nbsp;：</span><input type="text" class="input-field" name="field5" value="" /></label>
                            <label for="field6"><span>商品活動序號：</span><input type="text" class="input-field" name="field6" value="" /></label>
                            <p class="remark">電子發票號碼及發票隨機碼 或商品活動序號，需擇一填寫，以確定您購買的依據。</p>
                            <div class="agreement">
                                <input name="agreement" id="agreement" type="checkbox">
                                <label for="agreement"><span class="circle"></span>我已同意本活動辦法說明。</label>
                            </div>
                            <input type="submit" value="GO" />
                        </form>
                    </div>
                    <div class="divider"></div>
                    <div class="termsWrapper">
                        <h3>活動辦法</h3>
                        <p>凡於活動期間，於全台各功學社單車特約經銷商消費，不限金額發票，即可至本活動網站登錄，完成登錄者即具有抽獎資格。</p>
                        <p class="remarks">※ 若非開立電子發票的店家，請向店家索取收據及商品活動序號。
                        </p>
                        <div class="offerBike"></div>
                        <ul class="eventList">
                            <li>活動期間：<br />2018/11/12～2018/12/31</li>
                            <li>獎項內容：<br />首獎：山陰松江・瀨戶內島波海道團，共2名
                                <p>(首獎得獎者預計出發日為2019年3月22日～2019年3月27日，實際出發日期以主辦單位最後公告為準)</p>
                                貳獎：功學社單車1台，共1名
                                <p>※不挑色出貨, 如遇產品缺貨或其他不可抗力之事由，主辦單位得保留更換等值獎品之權利。</p>
                            </li>
                            <li>注意事項：
                                <ol>
                                    <li>本活動限居住於中華民國台、澎、金、馬地區，且具中華民國國籍之居民參加，參加本活動之消費者於參加本活動之同時，即同意接受注意事項之規範，如有違反之行為，主辦單位得取消其參加得獎資格，並對於任何破壞本活動之行為保留相關權利。</li>
                                    <li>主辦單位將於2019年1月11日公布得獎名單於本活動網站。每人限得獎一次，不得重複中獎。並依中獎者之聯絡電話及E-mail帳號聯繫中獎者，若中獎者於2019年1月21日前未回覆，將視同放棄中獎資格。</li>
                                    <li>中獎人應於獲接中獎通知後，7日內提供參與本活動之「購買發票/收據之影本」文件寄至活動主辦單位指定之地址，中獎人資料需經活動主辦單位確認無誤，並完成一切程序後，始得確認中獎資格，如有違反任何領獎規定或攜帶文件不足等情事，得取消其中獎資格。</li>
                                    <li>參與本活動者保證所有填寫、提出之資料均為真實且正確，如有不實或不正確之情事，將取消得獎資格。如因此致主辦單位無法通知其得獎訊息時，主辦單位不負任何法律責任，且如有致損害於主辦單位或其他任何第三人，參加者應負一切相關責任。</li>
                                    <li>參加者若以惡意之電腦程式或其他明顯違反活動公平性之方式，意圖混淆或影響活動結果者，一經主辦單位察覺得立即取消參賽者之參賽與得獎資格，並得追回獎品。參賽者對於因違反相關規定所生之一切法律責任，需自行負責。</li>
                                    <li>活動贈品將於2019年1月28日前寄出，若活動所填寫之資料不實、不完整或不正確，導致中獎者無法收到得獎通知或活動贈品，主辦單位恕不負責。</li>
                                    <li>本活動贈品以實物為準，所有贈品不可要求兌換成現金或其他物品，且贈品寄送地區僅以台灣本島為限，主辦單位不處理郵寄贈品至外島與海外地區之事宜，主辦單位並保有更換贈品或修改辦法之權利。</li>
                                    <li>依政府規定中獎者之贈品價值超過新台幣1,000元以上，須申報中獎之扣繳憑單，中獎人於兌獎時需繳交身分證正反面影本。贈品價值超過新台幣20,000元者，將由主辦單位代扣10%中獎所得稅，中獎者需先繳納該筆稅款並提供身份正影本予主辦單位後方可領獎，在台灣未居住滿6個月者，則需繳交20%稅金，稅款主辦單位將於次年1月底前開具扣繳憑單給中獎人，若不願意配合繳交相關資，將視為自動棄權，不具得獎資格。</li>
                                    <li>本活動因故無法進行時，主辦單位有權決定取消、終止、修改或暫停本活動。</li>
                                    <li>其他未盡事宜，悉依民事法律相關規定辦理。</li>
                                    <li>如仍有疑問，請e-mail至客服信箱 info@japan-tourism.com.tw</li>
                                </ol>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- @@close -->


<!-- @@block  =  head-js -->
<!-- index_page2 js -->
<script src="assets/js/luckydraw.js"></script>
<!-- @@close -->