<!DOCTYPE html>
<html lang="en">

<head>
    <title>松江之美</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale= 1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="腳踩單車，乘風而行，舒心趣遊！免費送你遊松江活動即將登場，敬請期待！" />
    <meta name="Keywords" content="" />
    <meta name="geo.region" content="tw" />
    <meta name="rating" content="general" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="在愜意的季節享受松江的美好！免費送你遊松江活動即將登場，敬請期待！" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="627">
    <meta property="og:image" content="" />
    <link rel="shortcut icon" href="" />
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/slick-theme.css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="assets/css/index.css" type="text/css" media="all" />
    <link rel="stylesheet" href="assets/css/animate.css" type="text/css" media="all" />

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
    <script src="assets/js/bubbly-bg.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script>
        $(function() {
            $(window).on('load', function() {
                var h = $(window).height();
                $('#loading').height(h);
                setTimeout(function() {
                    $('#loading').fadeOut();
                }, 1500);
                $('html, body').animate({
                    scrollTop: 0
                }, 1);
            });
        });
    </script>
</head>

<body>
    <!-- @@placeholder= content -->

    <!-- @@placeholder= head-js -->
</body>

</html>